body{
	background-image: url(../img/klZSkDOGLVc.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
}
#container{
	position: absolute;
	background: #000000;
	opacity: 0.7;
	height: 170px;
	width: 360px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.glycolor{
	color:#FFFFFF; 
	cursor:pointer;
}
.glyposp{
	font-size: 40px;
	top: 35%;
	left: 45%
}
.glyposv{
	font-size: 20px;
	top: 65%;
	right: 9%;
}
.glycolor:hover{
	color:#009BE3;
}